body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.dead-ghost {
  background-color: #3b3bff;
  animation-name: flicker;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  from {
      border-radius: 30%;
  }
  
  to {
      border-radius: 45%;
      background-color:#585cfb
  }
}